{% extends "base.html" %}

{% block content %}
	<div class="vevent eventspage">
		<h2 class="summary"><a class="url" href="{{ event.get_absolute_url }}">{{ event.title }}</a></h2>
		<div class="eventmetadata">
		<div class="date"><abbr class="dtstart" title="{{ event.date }}">{{ event.date|time|lower }}, {{ event.date|date }}</abbr></div>
		<div class="location">
		{% if event.location.url %}
			<a href="{{ event.url }}">{{ event.location.name }}</a>
		{% else %}
			{{ event.location.name }}
		{% endif %}
		{% if event.location.street %} — {{ event.location.street }}{% endif %}
		</div>
		<div class="clear"></div>
		</div>
	<p class="description">
	{{ event.copy|safe }}
	</p>
	{% if event.upcoming_link %}
		<p><a class="upcominglink" href="{{ event.upcoming_link }}" title="{{ event.name }} on Upcoming">Confirm your attendance for this event on Upcoming</a></p>
	{% endif %}
	</div>
{% endblock %}