{% extends "base.html" %}

{% block content %}
	{% for event in object_list %}
		<h2><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h2>
		<p>{{ event.date|date }}</p>
		<p>
			{% if event.location.url %}
				<a href="{{ event.url }}">{{ event.location.name }}</a>
			{% else %}
				{{ event.location.name }}
			{% endif %}
			{% if event.location.street %} — {{ event.location.street }}{% endif %}
		</p>
		{{ event.copy|safe }}
		{% if event.upcoming_link %}
			<p><a href="{{ event.upcoming_link }}" title="{{ event.name }} on Upcoming">See this event on Upcoming</a></p>
		{% endif %}
	{% endfor %}
{% endblock %}
