<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head profile="http://gmpg.org/xfn/11">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Refresh Edinburgh</title>

	<meta name="author" content="Andy Lobban, John Sutherland &amp; Matt Riggott" />
	<meta name="description" content="Web community in Edinburgh, Scotland" />
	<meta name="keywords" content="designer, developer, edinburgh, scotland, usability, web standards, technology" />

	<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ media_url }}css/core.css" />
	<!--[if IE]><link rel="stylesheet" type="text/css" media="screen, projection" href="ie7.css"  /><![endif]-->

	<link rel="alternate" type="application/rss+xml" title="Events feed" href="/feeds/upcoming/" />

	<link rel="icon" href="{{ media_url }}img/layout/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="{{ media_url }}img/layout/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="{{ media_url }}img/layout/iphone.png"/>

</head>
<body>

	<div id="page">
		<div id="header">
			<h1><a href="{% url apps.core.views.home %}"><img src="{{ media_url }}img/layout/refresh_logo-trans.png" alt="Refresh Edinburgh" /></a></h1>
			<ul id="main-menu">
				<li><a href="{% url events_event_archive %}">Events</a></li>
				<li class="first"><a href="{% url apps.core.views.home %}">Home</a></li>
			</ul>
			<div class="clear"></div>
		</div>

		<div id="main">
			<div id="content">
				{% block content %}{% endblock %}
			</div>

			{% block sidebar %}
				<div id="sidebar">
					<div id="socialarea">
						<h2>Join our discussion list</h2>
						<form action="http://groups.google.com/group/refresh-edinburgh/boxsubscribe">
							<div class="form_wrapper">
								<label for="id_email">Email address:</label>
								<input class="mailaddress" type="text" id="id_email" name="email" />
								<input class="joinbutton" type="submit" value="Join" />
							</div>
						</form>

						<h2>Refresh<span>Edinburgh</span> Elsewhere</h2>
						<ul class="social-buttons">
							<li><a href="http://twitter.com/refreshedi"><img src="{{ media_url }}img/layout/twitter.jpg" class="social-icon" alt="Twitter" />Twitter</a></li>
							<li><a href="http://www.last.fm/group/RefreshEdinburgh"><img src="{{ media_url }}img/layout/lastfm.jpg" class="social-icon" alt="Last.fm" />Last.fm</a></li>
							<li><a href="http://flickr.com/groups/refreshedinburgh/"><img src="{{ media_url }}img/layout/flickr.jpg" class="social-icon" alt="Flickr" />Flickr</a></li>
							<li><a href="http://www.linkedin.com/groups?gid=1758117"><img src="{{ media_url }}img/layout/linkedin.jpg" class="social-icon" alt="LinkedIn" />LinkedIn</a></li>
							<li><a href="http://upcoming.yahoo.com/group/15259/"><img src="{{ media_url }}img/layout/upcoming.jpg" class="social-icon" alt="Upcoming" />Upcoming</a></li>
							<li><a href="http://friendfeed.com/rooms/refreshedi"><img src="{{ media_url }}img/layout/friendfeed.jpg" class="social-icon" alt="FriendFeed" />FriendFeed</a></li>
						</ul>
						<div class="clear"></div>

						<h2>Subscribe</h2>
						<ul class="social-buttons">
							<li><a href="/feeds/upcoming/"><img src="{{ media_url }}img/layout/feed-icon.jpg" class="social-icon" alt="Member Name" />Events RSS</a></li>
							{% if current_site %}<li><a href="http://suda.co.uk/projects/microformats/hcalendar/get-cal.php?uri=http://{{ current_site.domain }}{% url events_event_archive %}"><img src="{{ media_url }}img/layout/ical-icon.jpg" class="social-icon" alt="Member Name" />Events iCal</a></li>{% endif %}
						</ul>
						<div class="clear"></div>
					</div>
				</div>
			{% endblock %}

			<div class="clear"></div>
		</div>
	</div>

	<div id="footer">
		<p>Copyright &copy; 2006—{% now "Y" %} Refresh Edinburgh.</p>
		<p>Valid <a href="http://validator.w3.org/check/referer">XHTML</a> and <a href="http://jigsaw.w3.org/css-validator/validator?uri=refreshedinburgh.org">CSS</a>. Designed by <a href="http://www.nonimage.com/">Nonimage</a>. Maintained by <a href="http://sneeu.com/">John Sutherland</a> &amp; <a href="http://www.flother.com/">Matt Riggott</a>. Powered by <a href="http://www.djangoproject.com/">Django</a>. Served by <a href="https://manage.slicehost.com/customers/new?referrer=abb24ace7d2651ef3ad4e109ede3d15c">Slicehost</a>.</p>
	</div>

</body>
</html>
