{% extends 'base.html' %}
{% load events %}

{% block content %}
	<h2 class="who"><strong>Who</strong> is Refresh Edinburgh?</h2>

	<ul id="members-list">
		<li><img src="{{ media_url }}img/layout/favicon.ico" class="favicon" alt="Andy Durdin" width="16px" height="16px" /><a href="http://andy.durdin.net/">Andy Durdin</a></li>
		<li><img src="http://www.nonimage.com/images/favicon.ico" class="favicon" alt="Andy Lobban" width="16px" height="16px" /><a href="http://www.nonimage.com/">Andy Lobban</a></li>
		<li><img src="http://cole007.net/favicon.ico" class="favicon" alt="Cole Henley" width="16px" height="16px" /><a href="http://cole007.net/">Cole Henley</a></li>
		<li><img src="{{ media_url }}img/layout/favicon.ico" class="favicon" alt="Drew Neil" width="16px" height="16px" /><a href="http://drewneil.com/">Drew Neil</a></li>
		<li><img src="http://media.sneeu.com/2/img/favicon.ico" class="favicon" alt="John Sutherland" width="16px" height="16px" /><a href="http://sneeu.com/">John Sutherland</a></li>
		<li><img src="http://relativesanity.com/favicon.ico" class="favicon" alt="Jonathan Barrett" width="16px" height="16px" /><a href="http://relativesanity.com/">Jonathan Barrett</a></li>
		<li><img src="http://media.flother.com/core/img/favicon.png" class="favicon" alt="Matt Riggott" width="16px" height="16px" /><a href="http://www.flother.com/">Matt Riggott</a></li>
		<li><img src="http://www.renegadezen.com/favicon.ico" class="favicon" alt="Roan Lavery" width="16px" height="16px" /><a href="http://www.renegadezen.com/">Roan Lavery</a></li>
		<li><img src="{{ media_url }}img/layout/favicon.ico" class="favicon" alt="Rory Fitzpatrick" width="16px" height="16px" /><a href="http://www.roryf.co.uk/">Rory Fitzpatrick</a></li>
		<li><img src="http://sam.brown.tc/favicon.ico" class="favicon" alt="Sam Brown" width="16px" height="16px" /><a href="http://sam.brown.tc/">Sam Brown</a></li>
		<li>And more …</li>
	</ul>

	<div class="clear"></div>

	<p>If you've been to Refresh Edinburgh and like to be added to this list, <a href="mailto:john+members@sneeu.com?subject=Refresh Members">send an email to John</a>.</p>
{% endblock %}
